@import "../../variables.scss";

.ButtonSecondary {
  margin: 0 2rem;
  padding: 0.5rem 1.5rem;

  color: $defaultTextColorDark;
  background-color: $highLight;
  border: 2px solid $highLight;
  border-radius: 50px;
  outline: none;

  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.02em;
}
