@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-top: $distanceMedium;
  padding-bottom: $distanceMedium;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50px;

  .icon {
    align-self: flex-end;
    padding-right: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      padding-bottom: $distanceSmall;
      font-weight: 600;
      font-size: 24px;
      color: $defaultTextColorMiddle;
    }

    label {
      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 125%;
      letter-spacing: 0.02em;
      font-size: 12px;
      color: $defaultTextColorDark;
      align-self: flex-start;
    }

    input {
      margin-bottom: 0.5rem;
    }

    .submit {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-top: $distanceSmall;
      margin-bottom: $distanceMedium;
      width: 8rem;

      color: $defaultTextColorDark;
      background-color: $highLight;
      border: 2px solid $highLight;
      border-radius: 50px;
      outline: none;

      font-family: "Muli", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 125%;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }
}
