@import "../../variables.scss";

button {
  align-self: flex-end;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: $highLight;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  line-height: 125%;
  letter-spacing: 0.02em;
}
