@import "../../variables.scss";

.stepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: $distanceMedium;
  padding-bottom: $distanceLarge;
  width: 100%;
  background-color: $defaultBackgroundDark;
  color: $defaultTextColorLight;

  .mainTitle {
    padding-bottom: $distanceMedium;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
  }
}
