@import "../../variables.scss";

.navContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 0.5rem;
  background-color: #0c0c0c;

  .link {
    padding: 0.5rem;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    color: $defaultTextColorLight;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }

  .activeLink {
    text-decoration: underline;
    text-decoration-color: $highLight;
  }

  .logoutContainer {
    position: absolute;
    right: $distanceLarge;
  }
}

@media screen and (max-width: 600px) {
  .logoutContainer {
    right: 0.5rem !important;
  }

  .navContainer {
    justify-content: flex-start;
  }
}
