@import "../../variables.scss";

.container {
  text-align: center;
  width: 50%;

  img {
    width: 3rem;
    padding-top: $distanceMedium;
  }

  .title {
    padding-top: $distanceSmall;
    padding-bottom: $distanceSmall;
    font-size: 18px;
  }

  .description {
    line-height: 140%;
  }
}
