@import "../../variables.scss";

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  align-items: stretch;
}
