@import "../../variables.scss";

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $defaultBackgroundDark;
  padding: 2rem 3rem 3rem 2rem;

  .upText {
    align-self: flex-end;
    cursor: pointer;

    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 188%;
    letter-spacing: 0.02em;
    color: $highLight;
  }

  .titleText {
    padding-bottom: $distanceSmall;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 188%;
    text-align: center;
    letter-spacing: 0.02em;
    color: $defaultTextColorLight;
  }

  .iconsContainer {
    display: flex;
    justify-content: center;

    .iconContainer {
      display: flex;
      align-items: center;
      margin-right: $distanceMedium;
      margin-left: $distanceMedium;
      cursor: pointer;

      p {
        margin-left: 0.2rem;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 188%;
        letter-spacing: 0.02em;
        color: $defaultTextColorLight;
      }
    }
  }
}
