@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-right: $distanceMedium;
  padding-top: 0.5rem;

  color: $defaultTextColorLight;
  background-image: url("/images/sunset.jpg");
  background-size: cover;

  .mainContainer {
    display: flex;
    flex-direction: column;
    padding: $distanceSmall;
    margin-top: $distanceLarge;
    margin-bottom: $distanceLarge;
    width: 40%;
    background-color: rgba(23, 23, 22, 0.7);

    border: 2px solid $highLight;
    border-radius: 10px;

    .buyerTitle {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .mainContainer {
    width: 80% !important;
  }
}
